.flex-container {
    display: flex;
    width: 50%;
    height: 100px;
}

.flex-container > div {
    background-color: #71bccf;
    margin: 5px;
    padding: 20px;

  }

  .item2 {
    width: 100px;
  }